.clients {
    background-color: #f1f8ff;
    padding: 28px 0 20px;
    // .clients__block-title

    &__block-title {
        text-align: center;
        font-family: $font-dafault;
        color: #3677fd;
        font-size: 50px;
        margin-bottom: 90px;
    }

    // .clients__title

    &__title {
        font-weight: 300;
        
    }

    // .clients__company

    &__company {
    }

    // .clients__logo

    &__logo {
        display: block;
    }
}
.container {
}
.row {
}
.col-3 {
}
