.experts {
    background-color: $light-blue;

    &__container {
        padding-top: 85px;
        padding-bottom: 15px;
    }

    &__title {
        text-align: center;
        margin-bottom: 70px;
    }
}

.item {
    text-align: center;

    &__icon {
        width: 140px;
        height: 140px;
        margin: 0 auto;
        border: $icon-border;
        border-radius: 50%;
        position: relative;
        margin-bottom: 47px;
    }

    &__icon-img {
        @include position-center;
    }

    &__title {
        font-size: 24px;
        font-weight: 700;
        color: $dodger-blue;
        text-transform: uppercase;
        margin-bottom: 3px;
    }

    &__content {
        font-weight: 400;
        padding-bottom: 65px;

        @include media('md') {
            margin: 0 auto;
            width: 70%;
        }
    }
}
