$color-white: white;
$color-black: #000;
$grey: #5a5a5a;
$dodger-blue: #3677FD;
$window-red: #de2e45;
$window-text-grey: #b9bcd1;
$mercury:#E1E1E1;

$input-border-color: $grey;
$default-border-radius: 5px;

$default-border: 1px solid $input-border-color;

$container-width: 1170px;
$default-gap: 15px;

$body-bg-color: $color-white;
$border-color: $grey;

//menu
$border-menu-bottom:$grey;
$menu-hover-color:$dodger-blue;
$menu-default-text-color:$grey;
$menu-icon-color:$grey;
$color-overlay-menu-window:$color-white;
$color-overlay-menu:$color-black;
$color-language-deafult:$grey;



$font-folder-path: '../fonts/';
$folder-image: '../image/';

$font-default-name: 'Lato';

$follback: Arial,
Helvetica,
sans-serif;

$font-dafault: $font-default-name,
$follback;

$default-font-size: 16px;
$default-line-height: 2.1875;
$default-color-text: $grey;


$breack-points: ("xl": 1200px,
    "lg": 992px,
    "md": 768px,
    "sm": 576px);
